<h1 class="pageTitle">Login</h1>
<form>
  <label for="email">email</label>
  <input type="email" name="email" placeholder="email" /><br />
  <label for="password">password</label>
  <input name="password" type="password" placeholder="password" /><br />
  <button type="submit">Login!</button>
</form>
<p>Have you forgot your password?. <a href="/resetpass">RESET PASSWORD</a></p>
<div>
  <a href="/api/sessions/github"><button>Login with Github</button></a>
</div>
<script src="/js/login.js"></script>