<h1>Register</h1>
<form>
  <label for="first_name">First name</label>
  <input name="first_name" type="text" placeholder="input your first name"><br>
  <label for="last_name">Last Name</label>
  <input name="last_name" type="text" placeholder="input your last name"><br>
  <label for="age">Age</label>
  <input name="age" type="number" placeholder="input your age"><br>
  <label for="email">Email</label>
  <input name="email" type="email" placeholder="input your email"><br>
  <label for="password">Password</label>
  <input name="password" type="password" placeholder="input your password"><br>
  <button type="submit">Register!</button>
</form>
<script src="/js/register.js"></script>